[run]
source =
    tiled
[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    # ignore _version.py and versioneer.py
    .*version.*
    *_version.py
    */_tests/*

exclude_lines =
    if __name__ == '__main__':
