[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    tiled/_version.py,
    tiled/serialization/_zipfile_py39.py,
    docs/source/conf.py,
    share,
    web-frontend,
max-line-length = 115
