include AUTHORS.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst
include requirements-client.txt
include requirements-cache.txt
include requirements-server.txt
include requirements-array.txt
include requirements-dataframe.txt
include requirements-xarray.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.yml *.rst conf.py Makefile make.bat

include versioneer.py
include tiled/_version.py
include tiled/schemas/*.yml

# If including data files in the package, add them like:
# include path/to/data_file
