# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
pre-commit
pytest
pytest-asyncio
pytest-rerunfailures
sphinx !=4.1.0, !=4.1.1, !=4.1.2, !=4.2.0
# These are dependencies of various sphinx extensions for documentation.
ipython
matplotlib
myst-parser
numpydoc
sphinx-click
sphinx-copybutton
sphinxcontrib.openapi
sphinx_rtd_theme
