# These are required for developing the package (running the tests, building
# the documentation) but not necessarily required for _using_ it.
codecov
coverage
flake8
pytest
pytest-asyncio
sphinx !=4.1.0, !=4.1.1, !=4.1.2
# These are dependencies of various sphinx extensions for documentation.
h5py
ipython
matplotlib
myst-parser
numpydoc
sphinx-click
sphinx-copybutton
sphinxcontrib.openapi
sphinx_rtd_theme
# These are used by the optional serializers.
openpyxl
pillow
tifffile
