# These are the requirements needed for basic server functionality.
alembic
cachey
cached-property; python_version < '3.8'
cachetools
dask
fastapi
jmespath
jsonschema
msgpack
orjson
psutil
prometheus_client
pydantic
python-dateutil
python-jose[cryptography]
python-multipart
pyyaml
sqlalchemy
toolz
typer
uvicorn
watchgod
