# These are the requirements needed for basic server functionality.
aiofiles
alembic
anyio
cachey
cached-property; python_version < '3.8'
cachetools
click !=8.1.0
dask
fastapi
jinja2
jmespath
jsonschema
msgpack >=1.0.0
orjson
psutil
prometheus_client
pydantic >=1.8.2
python-dateutil
python-jose[cryptography]
python-multipart
pyyaml
sqlalchemy
toolz
typer
uvicorn[standard]
watchgod
