# These are the requirements needed for basic server functionality.
aiofiles
alembic
anyio
appdirs
cachey
cachetools
click !=8.1.0
dask
fastapi <=0.89.1
httpx >=0.20.0,!=0.23.1
jinja2
jmespath
jsonschema
msgpack >=1.0.0
orjson
packaging
psutil
prometheus_client
pydantic >=1.8.2
python-dateutil
python-jose[cryptography]
python-multipart
pyyaml
sqlalchemy
starlette
toolz
typer
uvicorn[standard]
watchgod
