map $http_host $port_if_not_default {
    # Set to ":<request_port>" or to empty string if default port is used.
    default "";
    "~^[^\:]+:(?<p>\d+)$" :$p;
}

server {
    listen       443 ssl;
    server_name         {{ server_name }};
    ssl_certificate     {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};
    ssl_protocols       TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers         HIGH:!aNULL:!MD5;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header X-Forwarded-Scheme $scheme;
        # We handle the possibility of a non-standard request port
        # to cover the niche use case of connecting over SSH
        # port-forwarding.
        proxy_set_header X-Forwarded-Host $host$port_if_not_default;
    }
}

# Redirect HTTP -> HTTPS.
server {
    listen 80 default_server;
    server_name {{ server_name }};
    return 301 https://$host$request_uri;
}
