{{ ansible_managed }}

[Unit]
Description=Tiled
After=network.target

[Service]
WorkingDirectory=/srv/tiled
LimitNOFILE=4096
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
[Unit]
Description=gunicorn uvicorn service for Tiled
After=syslog.target

[Service]
User=tiled-worker
Group=tiled-worker
ExecStart=/srv/tiled/venv/bin/gunicorn -b 127.0.0.1:8000 -w {{ worker_count }} -k uvicorn.workers.UvicornWorker tiled.server.app:app --name tiled_svc --chdir /srv/tiled --capture-output
Environment=TILED_CONFIG=/etc/tiled/config.yml
EnvironmentFile=/etc/tiled/env.secret
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
Restart=always
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
