# These are the requirements needed for basic client functionality.
appdirs==1.4.4
entrypoints==0.3
HeapDict==1.0.1
httpx==0.18.2
jsonschema==3.2.0
msgpack==1.0.2
PyYAML==5.4.1
typer==0.3.2
# These are the requirements needed for running the test suite
pytest==6.2.4
pytest-asyncio==0.15.1
