services:

  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
    command: ["start-dev", "--import-realm"]
    volumes:
      - ./realm-export.json:/opt/keycloak/data/import/realm-export.json
    ports:
      - 8080:8080
      - 9000:9000
    healthcheck:
      test: "curl --head -fsS http://localhost:9000/health/ready"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 12s

  oauth2-proxy:
    network_mode: host
    image: "quay.io/oauth2-proxy/oauth2-proxy:v7.13.0-amd64"
    volumes:
      - ./oauth2-proxy.cfg:/opt/oauth2-proxy.cfg
      - ./oauth2-alpha.yaml:/opt/oauth2-alpha.yaml
    command: ["--alpha-config=/opt/oauth2-alpha.yaml","--config=/opt/oauth2-proxy.cfg"]
    ports:
      - 4180:4180
    depends_on:
      keycloak:
        condition: service_healthy

  opa:
    network_mode: host
    image: openpolicyagent/opa:1.10.1-istio-3-static
    ports:
      - 8181:8181
    volumes:
      - "./policy:/policy"
    environment:
      - ISSUER=http://localhost:8080/realms/master
    command: ["run","--server","--addr",":8181","-b","/policy"]
    depends_on:
      keycloak:
        condition: service_healthy
