services:

  keycloak:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - KC_BOOTSTRAP_ADMIN_PASSWORD=admin
      - KC_BOOTSTRAP_ADMIN_USERNAME=admin
      - KC_HEALTH_ENABLED=true
      - KC_METRICS_ENABLED=true
    command: ["start-dev"]
    volumes:
      - ./keycloak_config/:/mnt
    post_start:
      - command: bash /mnt/startup.sh
    ports:
      - 8080:8080
      - 9000:9000
    healthcheck:
      test: "curl --head -fsS http://localhost:9000/health/ready"
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 12s

  oauth2-proxy:
    network_mode: host
    image: "quay.io/oauth2-proxy/oauth2-proxy:v7.13.0-amd64"
    volumes:
      - ./oauth2-proxy.cfg:/opt/oauth2-proxy.cfg
      - ./oauth2-alpha.yaml:/opt/oauth2-alpha.yaml
    command: ["--alpha-config=/opt/oauth2-alpha.yaml","--config=/opt/oauth2-proxy.cfg"]
    ports:
      - 4180:4180
    depends_on:
      keycloak:
        condition: service_healthy
